In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
demol_per_granted=gpd.read_file('shapefiles/demolition_permit_granted/demolition_permit_granted.shp')

In [3]:
demol_per_granted.info()

#we need to clean 2 columns

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 10 columns):
id            789 non-null object
identifica    789 non-null int64
bouwjaar      789 non-null int64
status        789 non-null object
gebruiksdo    374 non-null object
oppervlakt    789 non-null int64
oppervla_1    789 non-null int64
aantal_ver    789 non-null int64
actualitei    0 non-null object
geometry      789 non-null geometry
dtypes: geometry(1), int64(5), object(4)
memory usage: 61.8+ KB

In [4]:
#converting the column gebruiksdo having null values to string type
demol_per_granted['gebruiksdo']=demol_per_granted['gebruiksdo'].astype(str)

In [5]:
demol_per_granted.head()

,id,identifica,bouwjaar,status,gebruiksdo,oppervlakt,oppervla_1,aantal_ver,actualitei,geometry
0,pand.2174299,1783100000004027,1973,Sloopvergunning verleend,woonfunctie,187,187,1,None,"POLYGON Z ((73648.140 451090.143 0.000, 73637...."
1,pand.2174306,1783100000004037,2004,Sloopvergunning verleend,None,0,0,0,None,"POLYGON Z ((73628.421 451099.028 0.000, 73617...."
2,pand.2174478,1783100000004225,1965,Sloopvergunning verleend,woonfunctie,95,95,1,None,"POLYGON Z ((71397.997 448579.317 0.000, 71396...."
3,pand.2174896,1783100000004674,1964,Sloopvergunning verleend,None,0,0,0,None,"POLYGON Z ((73625.450 442929.408 0.000, 73565...."
4,pand.2174945,1783100000004728,1961,Sloopvergunning verleend,woonfunctie,143,143,1,None,"POLYGON Z ((72449.563 448985.736 0.000, 72446...."

In [7]:
demol_per_granted.columns

#id, identifier, constuction year, status, usage, square mts,square mts, number of floors,current events, geometry

Index(['id', 'identifica', 'bouwjaar', 'status', 'gebruiksdo', 'oppervlakt',
       'oppervla_1', 'aantal_ver', 'actualitei', 'geometry'],
      dtype='object')

In [8]:
#dropping the column actualitei having all null values in it
clean_data_granted=demol_per_granted.drop(columns=['actualitei'],axis=1)

In [9]:
clean_data_granted.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 9 columns):
id            789 non-null object
identifica    789 non-null int64
bouwjaar      789 non-null int64
status        789 non-null object
gebruiksdo    789 non-null object
oppervlakt    789 non-null int64
oppervla_1    789 non-null int64
aantal_ver    789 non-null int64
geometry      789 non-null geometry
dtypes: geometry(1), int64(5), object(3)
memory usage: 55.6+ KB

In [11]:
clean_data_granted.to_csv('demolition_permit_granted_data.csv',index=False)